<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <link rel="icon" href="/favicon.ico" /> -->
    <title>Boolzapp</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" integrity="sha512-1ycn6IcaQQ40/MKBW2W4Rhis/DbILU74C1vSrLJxCq57o941Ym01SwNsOMqvEBFlcgUa6xLiPY/NS5R+E6ztJQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <div class="greenbackground"></div>
    <div id="root">

        <div class="container">
            <!-- contact section -->
            <div class="contactsection">

                <div class="sectionhead"></div>

                <!-- search  -->
                <div class="contactsearch">
                    <i class="fas fa-search"></i>
                    <input type="text" placeholder="search from your contact" v-model="searchinput">
                </div>

                <!-- container -->
                <div class="contactcontainer">
                    <div class="contactitem" v-for="(element, index) in contacts" @click="selectchat(index)" :class="{show: search(element, index)}">
                                    
                        <div class="contactimg">  <!-- avatar  -->
                            <img :src="avatarpicker(index)" alt="alt">
                        </div>

                        <div class="w100"> 
                            <div>
                                {{element.name}}
                            </div>
    
                            <div class="textoverflow">
                                {{lastmessage(element, index)}}
                            </div>
                        </div>

                    </div>
                </div>

            </div>

            <!-- chat section -->
            <div class="chatsection">

                <div class="sectionhead"></div>
                <div class="chatmain">
                    <div v-for="(element, index) in contacts[selectedchat].messages">
                        <div>
                            <div class="message" :class="message(index)">{{contacts[selectedchat].messages[index].text}}</div>
                        </div>
                    </div>
                </div>
                
                <div class="textbar">
                    <i class="far fa-smile-beam fa"></i>
                    <i class="fas fa-paperclip fa"></i>
                    <input type="text" placeholder="Write a message" v-model="messageinput"  v-on:keyup.enter="sendmessage()">
                    <i class="fas fa-microphone fa"></i>
                </div>

            </div>
        </div>

    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14"></script>
    <script src="main.js"></script>
</body>
</html>